<mat-toolbar color="primary">
  <a class="page-title" mat-button [routerLink]="''"> PhotoAlbum </a>
  <span class="spacer"></span>
  <div *ngIf="credentialsService.isAuthenticated()">
    <a mat-button routerLink="albums/my" routerLinkActive="active-link">
      <mat-icon class="link-icon">panorama</mat-icon>
      My albums
    </a>
    <a mat-button routerLink="albums/shared" routerLinkActive="active-link">
      <mat-icon class="link-icon">folder_shared</mat-icon>
      Shared with me
    </a>
    <a mat-button routerLink="groups" routerLinkActive="active-link">
      <mat-icon class="link-icon">groups</mat-icon>
      Groups
    </a>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="link-icon">account_circle</mat-icon>
      {{ this.credentialsService.credentials.username }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon class="link-icon">logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
