<h2>Comments ({{ comments.length }})</h2>
<div
  *ngFor="let comment of comments"
  style="margin-bottom: 20px; position: relative"
>
  <mat-card class="mat-elevation-z4">
    <b style="display: inline">{{ comment.commenter.userName }}</b>
    <mat-card-subtitle style="display: inline; float: right"
      ><div>
        {{ comment.date | date: "medium" }}
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <h3 style="white-space: pre-line; overflow-wrap: break-word">
        {{ comment.text }}
      </h3>
    </mat-card-content>
  </mat-card>

  <div
    style="position: absolute; right: 8px; bottom: 8px"
    *ngIf="canDelete(comment.commenter.id)"
  >
    <button
      mat-icon-button
      matTooltip="Delete"
      (click)="onDeleteComment(comment.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div style="display: flex; justify-content: stretch">
  <mat-form-field appearance="outline" style="flex: 1 1 0">
    <mat-label>Comment</mat-label>
    <textarea cdkFocusInitial matInput [(ngModel)]="comment"></textarea>
  </mat-form-field>

  <button
    style="margin: 4px 0px 24px 8px"
    mat-flat-button
    color="primary"
    matTooltip="Send"
    (click)="onComment()"
  >
    <mat-icon>send</mat-icon>
  </button>
</div>
