.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: #ececec33;
  cursor: pointer;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  text-shadow: 2px 2px 2px black;
  max-width: 50%;
  max-lines: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottom-buttons {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: 2px 2px 2px black;
}

.bottom-buttons .mat-icon-button {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.top-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.top-buttons .mat-icon-button {
  color: white;
  text-shadow: 2px 2px 2px black;
}

::ng-deep .mat-list-item-content {
  width: 100%;
}
